# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
# This workflow will send a HTTP POST request to a ZSP Gateway Function App to request a role assignment for a service principal.
# The workflow will then wait for 15 seconds to allow the role assignment to propagate, then attempt to login to Azure using the service principal credentials and check the role assignment.
# Writen by Paul McCormack.
# https://www.linkedin.com/in/paul-mccormack-08b04a6/
# https://howdoyou.cloud/
# https://github.com/paul-mccormack

name: Deploy Azure Resources

on:
  push:
    branches:
        - main
    paths:
        - '.github/workflows/deploy.yml'
        
  workflow_dispatch:

permissions:
    contents: read
    id-token: write
    actions: read

jobs:
  access:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Get Access to Azure
        run: |
          curl -X POST "https://${{ secrets.AZURE_FUNCTION_URL }}/api/nhi-access" \
            -H "Content-Type: application/json" \
            -H "x-functions-key: ${{ secrets.AZURE_FUNCTION_KEY }}" \
            -d '{
              "sp_object_id": "${{ secrets.AZURE_SP_OBJECT_ID }}",
              "scope": "/subscriptions/${{ secrets.AZURE_SUBSCRIPTION_ID }}",
              "role": "Contributor",
              "duration_minutes": 5,
              "workflow_id": "github-actions"
              }'
      
      - name: Wait for Azure Role Assignment
      # This seems to be required as there is a delay between the role assignment being created and it being available for use.
        run: |
          echo "Waiting for 30 seconds to allow Azure Role Assignment to propagate..."
          sleep 30
        shell: bash

      - name: Azure Login
        uses: azure/login@v2
        with:
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

      - name: Check Permissions
        uses: azure/powershell@v2
        with:
          inlineScript: |
            Get-AzRoleAssignment
          azPSVersion: 'latest'


    